* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #343a40;
}

#flex-header {
  font-size: large;
}

.conferencia {
  display: none;
}

#parrafo-header {
  margin: 0;
  padding: 0;
}

#img-Carrousel {
  background-color: black;
  background-blend-mode: soft-light;
}

#skills-card-body {
  padding: 0 0.25rem;
}

.p-cards {
  font-size: 0.65rem;
}

.div-img-info {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#img-img-article {
  border-right: 0.1rem solid white;
}

#p-article-info-article {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

#p-btn-article-info-article {
  font-size: 0.75rem;
}

.sect-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txt-p-form {
  text-decoration-style: dotted;
  flex-wrap: wrap;
}

.btn-form {
  background: #96c93e !important;
}

#ContainerFooter {
  height: 7rem;
  background-color: #1d506d;
}

.container-fluid ul li a {
  color: white !important;
}

@media screen and (max-width: 767px) {
  .p-header {
    display: none;
  }

  .img-header {
    display: none;
  }

  .div-img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conf a {
    display: none;
  }

  .conf {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/codoacodo.png");
    background-size: cover;
    background-position: center center;
    width: 7rem;
    height: 5rem;
  }

  .conferencia {
    display: block;
  }
}
